/* ====== general ====== */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.icon-sprite {
  background: url(../../images/myPic/icon_sprite.png) no-repeat;
}
.index-background{
	background: url("/pic/back1.jpg") no-repeat;
	background-size: 1370px 2500px;
}
.index-cont{
	background: rgb(230,230,230,0.8);
}
/* ====== public ====== */
.main {
  overflow: hidden;
  position: relative;
}
.main-inner {
  position: relative;
  width: 1200px;
  margin: 0px auto;
  height:100%;
}
.main-title {
  position: relative;
  width: 490px;
  height: 46px;
  margin: 0 auto 50px;
}
.main-title .title {
  width: 490px;
  text-align: center;
  font:35px/1.5em "Microsoft YaHei";
  color: #423f3f;
}
.main-title .title i {
  display: inline-block;
  width: 196px;
  height: 46px;
  background: url(../../images/myPic/main_title.png) no-repeat;
}
.main-title .line {
  position: absolute;
  top: 104px;
  width: 72px;
  height: 1px;
  background-color: #fff;
  opacity: .1;
}
.main-title .line-left {
  left: 0;
}
.main-title .line-right {
  right: 0;
}
.readAll {
  position: absolute;
  right: 0;
  color: rgb(115,115,115);
  font-size: 15px;
}
.readAll i {
  display: inline-block;
  width: 7px;
  height: 12px;
  margin-left: 6px;
  background-position: -40px -260px;
}
.readAll:hover i {
  background-position: -120px -60px;
}
.main-tab {
  text-align: center;
  font-size: 0;
}
.main-tab .item {
  display: inline-block;
  height: 42px;
  font-size: 16px;
  margin: 0 35px;
  color: rgb(115,115,115);
}
.main-tab .item:hover,
.main-tab .item-cur {
  color: #31c27c;
}
.main-slider {
  overflow: hidden;
  width: 1200px;
  top: 30px;
  position: relative;
}
.main-slider .slider-wrapper {
  position: relative;
  left: 0;
  height: 320px;
}
.slider-wrapper li {
  float: left;
  width: 245px;
  height:100%;
}
.slider-wrapper .img {
  position: relative;
  overflow: hidden;
  width: 225px;
  height: 225px;
  border: 1px solid;
  box-shadow: 5px 5px 10px;
}
.albumPic{
	width: 100%;
	height: 100%;
}
/* .slider-wrapper .img img,
.slider-wrapper .img i,
.main .mask,
.main .icon-play {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.slider-wrapper .img:hover img {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
} */
.main .img img,
.main .img i,
.main .mask,
.main .icon-play {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.main .img:hover img {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}
.main .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}
.main .icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin: -35px;
  background: url(../../images/myPic/icon_play.png) no-repeat;
  opacity: 0;

  transform: scale(0.7);
  -webkit-transform: scale(0.7);
}
/* play && mask 这里有一个就复制一个过来 */
.slider-wrapper .img:hover .mask,
.rank-list__item:hover .mask {
  opacity: 0.4;
}
.slider-wrapper .img:hover .icon-play,
.rank-list__item:hover .icon-play,
.mv-list .item:hover .icon-play {
  opacity: 1;

  transform: scale(1);
  -webkit-transform: scale(1);
}
.slider-wrapper .info {
  width: 225px;
  height: 80px;
  font-size: 14px;
}
.slider-wrapper .info-event  .info {
}
.slider-wrapper li:hover .info {
}
.slider-wrapper .info .title {
  padding-top: 15px;
}
.slider-wrapper .info .title a,
.slider-wrapper .info .title .icon-sprite {
  display: inline-block;
  color: #3e3939;
  overflow:hidden;
}

.slider-wrapper .info .title a:hover{
	color: #00ff80;
} 

.slider-wrapper .info .title a{
}


.slider-wrapper .info .author {
  line-height: 28px;
  color: #747272;
}
.slider-wrapper li .info .author:hover{
  display: inline-block;
  color: #00ff80;
}
.slider-btns {
  text-align: center;
  font-size: 0;
}
.slider-btns span {
  display: inline-block;
  width: 30px;
  margin: 0 5px;
  padding: 10px 0;
  cursor: pointer;
}
.slider-btns i {
  display: block;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: rgba(9, 9, 9, 0.5)
  
}
.slider-btns span.cur i {
  background-color: rgb(180, 78, 114,0.7);
}
.slider-btns span:hover i {
  background-color: #fff;
}
.main-operate {}
.main-operate .slider-prev,
.main-operate .slider-next {
  position: absolute;
  z-index: 999;
  top: 50%;
  margin-top: -54px;
  width: 72px;
  height: 70px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 50px;
}
.main-operate .slider-prev {
  left: -72px;
}
.main:hover .main-operate .slider-prev {
  left: 0;
}
.main-operate .slider-next {
  right: -72px;
}
.main:hover .main-operate .slider-next {
  right: 0;
}
.main-operate .slider-prev:hover,
.main-operate .slider-next:hover {
  width: 70px;
  background-color: #8b938f !important;
}
.main-operate .slider-prev i,
.main-operate .slider-next i {
  position: absolute;
  top: 50%;
  display: block;
  width: 11px;
  height: 18px;
  margin-top: -9px;
}
.main-operate .slider-prev i {
  left: 28px;
  background-position: -180px 0;
}
.main-operate .slider-next i {
  right: 28px;
  background-position: -160px 0;
}
/* 分享到 */
.slider-share {
  display: none;
  position: absolute;
  z-index: 999;
  left: 286px;
  top: 703px;
  width: 168px;
  height: 120px;
  border: 1px solid #bfbfbf;
  padding: 5px 0;
  box-sizing: border-box;
  background-color: #fff;
}
.slider-share li {
  position: relative;
}
.slider-share a {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}
.slider-share a:hover {
  color: #fff;
  background-color: #31c27c;
}
.slider-share .icon-add,
.slider-share .icon-share,
.slider-share .icon-download {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.slider-share .icon-add,
.slider-share .icon-share,
.slider-share .icon-download {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.slider-share .icon-add {
  background-position: -20px 0;
}
.slider-share a:hover .icon-add {
  background-position: -20px -20px;
}
.slider-share .icon-share {
  background-position: -100px -180px;
}
.slider-share a:hover .icon-share {
  background-position: -100px -200px;
}
.slider-share .icon-download {
  background-position: -40px -220px;
}
.slider-share a:hover .icon-download {
  background-position: -40px -240px;
}
.slider-share .icon-arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 7px;
  height: 11px;
}
.slider-share a:hover .icon-arrow {
  background-position: 0 -20px;
}

/* ====== header ====== */
.header {}
.header-container {
  position: relative;
  width: 100%;
  height: 110px;
  margin: 0 auto;
  border-bottom: 3px solid #9e9797;
}

.header-container .logo {
  float: left;
  width: 190px;
  height: 100%;
  background: url(../../images/myPic/logo.png) no-repeat;
}

.header-top {
  height: 90px;
}
.header-nav {
  float: left;
  margin: 10px 20px 0 70px;
}
.header-nav ul {}
.header-nav li {
  float: left;
}
.header-nav li a {
  height: 90px;
  line-height: 90px;
  padding: 0 20px;
  font-size: 18px;
}
.header-nav li a.header-nav__cur {
  color: #fff;
  background-color: #31c27c;
}
.header-search {
  position: relative;
  float: left;
  width: 248px;
  height: 36px;
  margin-top: 36px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  font-size: 0;
}
.header-search .text {
  display: inline-block;
  width: 212px;
  height: 36px;
  padding-left: 14px;
  box-sizing: border-box;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  vertical-align: top;
}
.header-search .btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
.header-search .btn i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: 0 -40px;
  position: absolute;
  left: 8px
}
.header-search .btn:hover i {
  background-position: 0 -60px;
}
.header-search .result {
  display: none;
  position: absolute;
  z-index: 999;
  top: 36px;
  left: -1px;
  width: 248px;
  padding: 6px 0 14px;
  border: 1px solid #c9c9c9;
  font-size: 14px;
  background-color: #fff;
}
.header-search .result-item {
  position: relative;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
}
.header-search .result-item:hover {
  background-color: #31c27c;
}
.header-search .result-item .rank {
  margin-right: 12px;
  color: #ff594b;
}
.header-search .result-item .title {
  font-size: 14px;
}
.header-search .result-item .num {
  position: absolute;
  right: 15px;
  color: #999;
}
.header-search .result-item:hover .rank,
.header-search .result-item:hover .title,
.header-search .result-item:hover .num {
  color: #fff;
}
.header-search .history {
  position: relative;
  padding: 0 15px;
  margin-top: 15px;
  height: 24px;
  line-height: 24px;
}
.header-search .history span {
  color: #999;
}
.header-search .history i {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 16px;
  height: 16px;
  background-position: -100px 0;
  cursor: pointer;
}
.header-search .history i:hover {
  background-position: -20px -60px;
}
.header-login {
	float: right;
	margin-top: 36px;
	width: 231px;
}
.header-login a {
  float: left;
}
.header-login a.login,
.header-login a.regist,
.header-login a.account,
.header-login a.logout,
.header-login a.open-green,
.header-login a.open-vip {
  height: 35px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
}
.header-login a.login,
.header-login a.account,
.header-login a.logout,
.header-login a.regist{
}
.account{
	display: none;
}
.logout{
	display: none;
}
.header-login a.open-green {
  width: 115px;
  margin: 0 10px;
  color: #fff;
  background-color: #31c27c;
}
.header-login a.open-vip {
  width: 86px;
  height: 38px;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  color: #333;
}
.header-login a.open-green:hover {
  background-color: #2caf6f;
}
.header-login a.open-vip:hover {
  background-color: #ededed;
}
.header-subNav {
  padding-left: 228px;
}
.header-subNav li {
  display: inline-block;
  margin: 0 24px;
}
.header-subNav a {
  line-height: 50px;
  font-size: 15px;
}
.header-subNav a.subNav-cur {
  color: #31c27c;
}


/* ====== newSong ====== */
#newSong {
  height: 524px;
}
#newSong .main-operate .slider-prev,
#newSong .main-operate .slider-next {
  background-color: rgba(255, 255, 255, .1);
}
#newSong .main-slider .slider-wrapper {
  width: 4800px;
}
/* ====== recommend ====== */
#recommend {
  height: 380px;
}
#recommend .main-title .title i {
  background-position: 0 -240px;
}
#recommend .main-title .line {
  background-color: #000;
}
#recommend .main-operate .slider-prev,
#recommend .main-operate .slider-next {
  background-color: rgba(0, 0, 0, .1);
} 
.carousel-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
.carousel-slider .item {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 750px;
  height: 300px;
  opacity: 0;

  transition: all 300ms ease-out;
}
.carousel-slider .item-pic2,
.carousel-slider .item-pic4 {
  opacity: .8;
}
.carousel-slider .item-pic1 {
  transform: translate3d(-224px,0,0) scale(0.81);
}
.carousel-slider .item-pic2 {
  transform: translate3d(0px,0,0) scale(0.81);
  transform-origin: 0% 50%;
}
.carousel-slider .item-pic3 {
  z-index: 3;
  opacity: 1;
  transform: translate3d(240px,0,0) scale(1);
}
.carousel-slider .item-pic4 {
  transform: translate3d(449px,0,0) scale(0.81);
  transform-origin: 100% 50%;
}
.carousel-slider .item-pic5 {
  transform: translate3d(672px,0,0) scale(0.81);
}
.carousel-slider .item-pic6 {
  transform: translate3d(896px,0,0) scale(0.81);
}
.carousel-slider .item img {
  width: 100%;
}
#recommend .slider-btns span i {
  background-color: #b9b9b9;
}
#recommend .slider-btns span.cur i {
  background-color: #151515;
}


/* ====== rank ====== */
#rank {
  width: 100%;
  height: 670px;
}

#rank .main-inner{
	border-top: 2px solid #b6a6a6;
}
#rank .title{
	margin-top: 40px;
	color: #423f3f;
}
#rank .main-title .title i {
  background-position: 0 -120px;
}
#rank .main-title .title i {
  width: 144px;
}
#rank .readAll {
  top: 115px;
}
#rank .rank-list{
  margin-top: 60px;	
}

.rank-list,
.rank-list a {
  color: #fff;
}
.rank-list__item {
  overflow: hidden;
  position: relative;
  float: left;
  width: 230px;
  height: 520px;
  margin-left:10px;
}
.rank-bg {
  position: absolute;
  width: 100%;
  height: 505px;
  background: url(../../images/cont/rank_list_bg.jpg) no-repeat;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.rank-list__item:hover .rank-bg {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}
.rank-list__1 .rank-bg {
  background-position: 0 0;
} 
.rank-list__2 .rank-bg {
  background-position: -245px 0;
}
.rank-list__3 .rank-bg {
  background-position: -485px 0;
}
.rank-list__4 .rank-bg {
  background-position: -730px 0;
}
.rank-list__5 .rank-bg {
  background-position: -975px 0;
}
.rank-list__item .mask {}
.rank-list__item:hover .mask {}
.rank-list__item .icon-play {
  top: 187px;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  left: 55%;
  background: url(../../images/myPic/icon_play_50.png) no-repeat;
}
.rank-list__item:hover .icon-play {}
.rank-list__item .title {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.rank-list__item .title i {
  display: inline-block;
  width: 65px;
  height: 22px;
  background: url(../../images/myPic/main_title.png) no-repeat;
  background-position: 0 -300px;
}
.rank-list__item .title h3 {
  line-height: 54px;
  font-size: 36px;
}
.rank-list__item .line {
  position: absolute;
  top: 235px;
  left: 84px;
  width: 62px;
  height: 2px;
  background-color: rgba(255, 255, 255, .3);
}
.rank-list__item:hover .line {
  display: none;
}
.song-list {
  position: absolute;
  left: 45px;
  bottom: 25px;
}
.song-list__item {
  height: 45px;
  margin-top: 10px;
}
.song-list__item a {
  font-size: 14px;
}
.song-list__item a span {
  padding-right: 6px;
  font-size: 12px;
}
.song-list__item > span {
  padding-left: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, .5);
  font-size: 12px;
}
/* ====== hotSong ====== */
#hotSong {
  height: 758px;
}
#hotSong .main-title .title i {
  background-position: 0 -60px;
}
#hotSong .main-title .line {
  background-color: #000;
}
#hotSong .slider-wrapper {
  width: 3600px;
}
#hotSong .slider-wrapper {
  height: 465px;
}
#hotSong .slider-wrapper .info {
  height: 165px;
}
#hotSong .slider-wrapper .info .title {
  padding-top: 60px;
}
#hotSong .slider-wrapper .info .title a {
  max-width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#hotSong .main-operate .slider-prev,
#hotSong .main-operate .slider-next {
  background-color: rgba(0, 0, 0, .1);
}
#hotSong .slider-wrapper .info {
  background-color: rgba(0, 0, 0, .8);
}
#hotSong .slider-wrapper .info-event .info {
  background-color: #414141;
}
#hotSong .slider-btns i {
  background-color: rgba(21, 21, 21, .3);
}
#hotSong .slider-btns span.cur i {
  background-color: #151515;
}

/* ====== MV ====== */
#mv {
  height: 780px;
}
#mv .main-title .title i {
  width: 170px;
  background-position: 0 -180px;
}
#mv .main-title .line {
  background-color: #000;
}
#mv .title{
	margin-top: 20px;
	color: #423f3f;
}
#mv .main-tab .item {
  color: #353535;
  opacity: .5
}
#mv .main-tab .item:hover,
#mv .main-tab .item-cur {
  opacity: 1;
}
#mv .readAll {
  color: #333;
  margin-right: 30px;
}
#mv .readAll:hover {
  color: #31c27c;
}
#mv .readAll i {
  background-position: -120px -40px;
}
#mv .readAll:hover i {
  background-position: -120px -60px;
}
.mv-list {
	top: 40px;
	position: relative;
}
.mv-list .item {
  float: left;
  width: 300px;
  height: 304px;
}
.mv-list .img {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 170px;
}
.mv-list .img:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 80%,rgba(0,0,0,.7) 100%);
}
.mv-list .img img {
  width: 100%;
  height: 100%;
}
.mv-list .info {
  padding-left: 15px;
}
.mv-list .info .title {}
.mv-list .info .author {
  line-height: 34px;
}
.mv-list .info .author,
.mv-list .info .play-total {
  color: #999;
}
.mv-list .info .author:hover {
  color: #31c27c;
}
.mv-list .info .play-total i {
  display: inline-block;
  width: 19px;
  height: 12px;
  margin-right: 5px;
  background-position: -180px -20px;
  vertical-align: -1px;
}


/* ====== footer ====== */
.footer {
  height:105px;
  background-color: #333;
}
.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.footer,
.footer a {
  color: #999;
}
.footer a:hover {
  color: #31c27c;
}
.footer-info {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 362px;
}
.footer-info h3 {
  padding: 80px 0 46px;
}
.footer-info li {
  float: left;
  text-align: center;
}
.footer-icon {
  display: block;
  width: 46px;
  height: 48px;
  margin: 0 29px 14px;
  background: url(../../images/myPic/footer_icons.png) no-repeat;
}
.icon-pc {
  width: 37px;
  background-position: -2px 0;
}
.footer-info a:hover .icon-pc {
  background-position: -2px -49px;
}
.icon-mac {
  background-position: -92px 0;
}
.footer-info a:hover .icon-mac {
  background-position: -92px -49px;
}
.icon-android {
  width: 37px;
  background-position: -190px 0;
}
.footer-info a:hover .icon-android {
  background-position: -190px -49px;
}
.icon-iphone {
  width: 34px;
  background-position: -279px 0;
}
.footer-info a:hover .icon-iphone {
  background-position: -279px -49px;
}
.icon-kg {
  width: 41px;
  background-position: -370px 0;
}
.footer-info a:hover .icon-kg {
  background-position: -370px -49px;
}
.icon-ss {
  width: 34px;
  background-position: -464px 0;
}
.footer-info a:hover .icon-ss {
  background-position: -464px -49px;
}
.icon-qp {
  width: 40px;
  background-position: -563px 0;
}
.footer-info a:hover .icon-qp {
  background-position: -563px -49px;
}
.footer-info__download {
  float: left;
}
.footer-info__download .list,
.footer-info__product .list {
  margin-left: -29px;
}
.footer-info__product {
  position: absolute;
  top: 0;
  left: 478px;
  width: 304px;
}
.footer-info__product li {
  margin-right: 5px;
  margin-bottom: 18px;
  text-indent: 25px;
}
.footer-info__product li.hasPic {
  margin-right: 0;
}
.footer-info__link {
  float: right;
  width: 300px;
}
.footer-info__link li {
  width: 100px;
  margin-bottom: 22px;
  text-align: left;
}
.footer-copyright {
  font-size: 12px;
  text-align: center;
}
.footer-copyright p {
  line-height: 30px;
}
.footer-copyright a {
  display: inline;
}
.footer-copyright span {
  padding: 0 4px;
}


/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color:#fff;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}