#welcome {
  color: #877474;
  font-size: 15px;
}
.forgetPwd{
	margin: auto 20px;
}
.forgetPwd:hover{
	color: #c81f1f;
}
.noAccount{
	margin: auto 20px;
}
.noAccount:hover{
	color: #c81f1f;
}
#line{
	color: #413030;
	font-weight: bold;
}

#footer{
  position: absolute;
  left: 580px;
  bottom: 20px;
}