#mv-detail-btn{
}
.mv-detail-info div{
	margin: 0 15px;
}
.mv-detail-info a{
	float: left;
}
#mv-detail-author{
	float: left;
}
#mv-detail-pub-time{
	float: left;
}
#mv-detail-coments{
	float: left;
}
.mv-detail-headPic{
	
}
#mv-detail-mycomment{
	
}

#mv-detail-mycomment .form-group label{
  font-size: 16px;
  color: #322e2e;
}
