#mv-html{
	
}
#mv-html .btn .icon-sprite{

}
#mv-html .content{
  background-color: rgb(230,230,230);
}
#mv-html .vbox{
  width: 1280px;
  margin: 0 auto;
}
.content-row{
	margin-top: 20px;
}
.mv-recommend{
	height: 80px;
	font-size: 28px;
	color: #484242;
	padding: 30px 30px;
}

.mv-playlist{
	height: 80px;
	font-size: 28px;
	color: #484242;
	padding: 30px 30px;
}

.mv-playlist-row{
	margin-top: 20px;
}
