.mymusic-content{
	background: url("/pic/songer1.jpg");
	background-size: 1370px 1200px;
}
  .content{
    width: 100%;
    height:100%;
    background: rgb(230,230,230,0.8);
  }
  .songs-header{
    width: 100%;
    height:340px;
    background:url("/pic/mymusic.jpg");
  }
  .header-cont{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255,0.3);  
  }
  .songs-info{
	width: 1200px;
	height: 340px;
	margin: 0 auto;
  }
  
  .songs-info img{
  	width: 247px;
	height: 247px;
	border-radius: 150px;
	border: 1px solid;
	box-shadow: 5px 5px 7px;
	position: relative;
	left: 470px;
	top:30px;
  }
.username{
	font-size: 24px;
	text-align: center;
	margin-top: 45px;
	color: black;
}
.mymusic-nav{
	height: 60px;
	width: 80%;
	margin: 0 auto;
}
.mymusic-nav-li{
	float: left;
	margin: 10px 10px 10px 70px;
	left: 350px;
	position: relative;
	font-size: 18px;
}
.mymusic-nav-li:HOVER {
	color: #00ff40;
}
.mydata-cont{
	height: 600px;
	width: 70%;
	border: solid 5px;
	margin: 0 auto;
	box-shadow: 16px 10px 9px 4px;
	display:none;
}
.mysonglist-cont{
	height: 600px;
	width: 70%;
	border: solid 5px;
	margin: 0 auto;
	box-shadow: 16px 10px 9px 4px;
	overflow: auto;
}
.my-baseData{
	width: 70%;
	margin: 53px auto;
}
.mydataFrom{
	
}
#userPicfile{
	float: right;
	position: relative;
	right: 45px;
	top: 111px;
}
.mydata-btn{
	width: 119px;
	margin-top: 12px;
	margin-left: 198px;
}
.mysonglist-data{
	
}
.mysonglist-data-header{
	
}
.creat-songlist{
	width: 154px;
	margin: 20px 0px 0px 44px;
}
.songlist-line{
	border: solid 2px;
	width: 95%;
	margin: 13px auto;
	border-radius: 30px;
	color: #74d185;
}
.songlist{
	float: left;
	font-size: 16px;
}
.songlist-name{
	margin: 10px 80px;
}
.songs-count{
	margin: 10px 240px;
}
.songlist-oper{
	margin: 10px 40px;
}
.mysonglist-data-cont{
	width: 100%;
}
.songlistname{
	width: 40%;
	height: 50px;
	padding-left: 71px;
}
.songscount{
	width: 30%;
	height: 50px;
	padding: 13px 0 0 66px;
}
.songlistoper{
	width: 30%;
	height: 50px;
	padding: 13px 0 0 80px;
	font-size: 20px;
}
.songlistoper a{
	margin: 0px 10px;
}
.datas{
	
}
.name{
	float: left;
	margin: 13px 0px 13px 16px;
	font-size: 15px;
}
.name:HOVER {
	color: #36c222;
}
.songlistoper a:HOVER {
	color: #36c222;
}
#songlistPicfile{
	margin: 32px 0px 0px 20px; 
	float:left
}
