.mymusic-content{
  background:url("/pic/songer1.jpg"); 
  width: 100%;
  height: 640px;
}
.mymusic-background{
	 background:rgb(60,64,40,0.8);
	 width: 100%;
  	 height: 640px;
  	 color: #b0b0b0;
}
.player-header{
  border-bottom: 1px solid;
  margin-bottom: 22px;
  height: 80px;
}
.box-title{
	width:80%;
	height:100%;
	float: left;
}
.box-title h2:hover{
	color: #25c315;
}
.return-idx{
	width:20%;
	height:100%;
	float: right;
	padding: 33px 75px;
	font-size: 16px;
}

.return-idx a{
	color: #b0b0b0;
}
.return-idx a:hover{
	color: #25c315;
}
.playlist{
	width: 85%;
	height: 530px;
	position: absolute;
	left: 95px;
}
.playlist-right{
  float: left;
  width: 65%;
  height: 100%;
}
.list-toolbar{
	margin: 12px;
	border-bottom: solid 1px;
	padding-bottom: 21px;
}
.list-toolbar a{
	margin: 0 6px;
	width: 131px;
	background: rgb(60,64,40,0.0);
}
.playlist-left{
    float: left;
    width: 35%;
    height: 100%;
}
.songs-content{
	width: 100%;
	overflow:auto;
	height: 420px;
	
}
.songs-list{
  	width: 100%;
  }
  .songs-list-header{
  	height: 50px;
  	padding-top: 14px;
  }
  .songs-list-number{
  	width: 7%;
	float: left;
  }
  .songs-list-songname{
  	  width:58%; 
  	  float: left;
  }
  .songs-list-songer{
  	   width:25%; 
  	   float: left;
  }
  .songs-list-songtime{
  	   float: left;
  	   width: 10%;
  }
  .song-playlist-context{
  	   width: 100%;
  }
  .song-playlist{
  	width: 100%;
  }
  .playList{
  	height: 30px;
  	padding-top: 10px;
  }
  .playList-number{
  	width: 7%;
	float: left;
	padding-left: 3px;
  }
  .playList-sign{
  	 float: right;
  }
  .playList-sign:hover{
  	color: #25c315;
  }
  .sign{
  	font-size: 16px;
  	margin: 0 13px;
  }
  .playList-songname{
  	  width:58%; 
  	  float: left;
  }
  .playList-songname a{
  	 float: right;
  	 color: #b0b0b0;
  }
  .playList-songname a:hover{
  	  color: #25c315;
  }
  .playList-songer{
  	   width:25%; 
  	   float: left;
  }
  .songername:hover{
  	   color: #25c315;
  }
  .playList-songtime{
  	   float: left;
  	   width: 10%;
  }
 .box{
 	display:none;
 }
 .number{
 	margin-left: 10px;
	font-size: 18px;
 }
.playControls{
	width: 100%;
	height: 100%;
}
.playlist-left-context{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.songimg{
	width: 190px;
	height: 190px;
	margin: 62px 58px 30px 67px;
	box-shadow: 5px 5px 16px #151414;
}
.songinfo{
	width: 90%;
	height: 77px;
	margin: 0 auto;
}
.name{
	float: left;
	width: 100%;
	line-height: 23px;
	display: inline-flex;
	position: relative;
	left: 56px;
}
.name a{
	color: #b0b0b0;
}
.name a:HOVER {
	color: #25c315;
}
.songLrc{
	width: 90%;
	height: 70px;
	border: 1px solid;
	margin: 0 auto;
}
 #songSetting{
  	width: 100px;
	background: #ffffff;
	font-size: 15px;
	position: absolute;
	border: solid 1px #c5bcbc;
	left: 476px;
  }
  .songlistname{
  	width: 100pxpx;
	text-align: center;
	border-bottom: #f9f0f0 solid 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: black;
  }
/* .jp-controls div{
	float: left;
	border: 1px solid;
}
.jp-controls a{
	color: #b0b0b0;
}
.jp-controls div{
	margin: 0 10px;
}
.jp-previous{
	font-size: 26px
}
.jp-control-play{
	
}
.jp-next{
	font-size: 26px
} */
