#title{
  color: #877474;
  font-size: 15px;
}

.Tip{
  display:none;
  position: relative;
  left: 30px;
  top: 6px;
}
#success-tip{
  width: 50%;
  position: absolute;
  left: 380px;
  bottom: 280px;
  text-align: center;
  display: none;
}
