  .content{
    width: 100%;
    height:100%;
  }
  .songs-header{
    width: 100%;
    height:300px;
    background:url("/pic/bg_detail.jpg");
    padding-top: 30px;
  }
  .songs-info{
	width: 1200px;
	height: 250px;
	margin: 0 auto;
  }
  
  .songs-info img{
  	width: 247px;
	height: 247px;
	border-radius: 150px;
	border: 1px solid;
	box-shadow: 5px 5px 7px;
  }
  .data_cont{
	width: 890px;
	float: right;
	height: 100%;
	color: #413f3f;
  }
  .data_name{
  	overflow: hidden;
	height: 65px;
	line-height: 55px;
  }
  .data__name_txt {
    float: left;
    font-size: 36px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    margin-right: 10px;
  }
  .data_songer{
  	height: 32px;
	max-width: 90%;
  }
  .data_songer i{
    float: left;
  	margin: 9px 8px 0px 0px;
  }
  .data_songer a{
   font-size:16px;
   padding-top: 6px;
   margin-top: 7px;
  }
  .data_songer a:hover{
    color: #31c27c;
	text-decoration: none;
  }
  .data_info{
  }
  .data_info_ul{
  	width: 890px;
  	margin-top: -10px;
  }
  .data_info_item{
	float: left;
	line-height: 28px;
	font-size: 15px;
  }
  #country{
  	width:100%;
  }
  #info{
  width:100%;
  }
  .info-data{
    overflow: hidden;
  	width: 100%;
  }
  #songs{
  	font-size: 23px;
	line-height: 41px;
	margin: 0 39px 0 0;
  
  }
  #album{
    font-size: 23px;
	line-height: 41px;
  }
  .data_action{
  	float: left;
	width: 100%;
	margin-top: 12px;
  }
  .btn-default{
  	font-size: 12px;
  	margin-right: 5px;
	width: 85px;
  }
  .btn-default i{
  	margin: 0px 5px 0px 0px;
  	font-size: 18px;
  }
  .songs-content{
  	width: 1200px;
	margin: 0 auto;
	margin-bottom: 80px;
  }
  .songs-list{
  	width: 100%;
  	background-color: #FBFBFD;
  	border-bottom: 1px solid;
  }
  .songs-list-header{
  	height: 50px;
  	padding-top: 14px;
  }
  .songs-list-number{
  	width: 7%;
	float: left;
	border: 1px solid #FBFBFD;
  }
  .songs-list-songname{
  	  width:58%; 
  	  float: left;
  }
  .songs-list-songer{
  	   width:25%; 
  	   float: left;
  }
  .songs-list-songtime{
  	   float: left;
  	   width: 10%;
  }
  .song-playlist{
  	width: 100%;
  	border-bottom: 1px solid;
  }
  .playList{
  	height: 30px;
  	padding-top: 10px;
  }
  .playList-number{
  	width: 5%;
	float: left;
	padding-left: 16px;
  }
  .playList-sign{
  	 float: right;
  }
  .playList-sign:hover{
  	color: #25c315;
  }
  .sign{
  	font-size: 16px;
  	margin: 0 13px;
  }
  .playList-songname{
  	  width:60%; 
  	  float: left;
  }
  .playList-songname a:hover{
  	  color: #25c315;
  }
  .playList-songer{
  	   width:25%; 
  	   float: left;
  }
  .playList-songer a:hover{
  	   color: #25c315;
  }
  .playList-songtime{
  	   float: left;
  	   width: 10%;
  }
  .songer-footer{
  	width: 1200px;
	margin: 0 auto;
  }
  .slider-wrapper li{
  	width: 240px;
  	margin: 16px 0;
  }
    #songSetting{
  	width: 100px;
	background: #ffffff;
	font-size: 15px;
	position: absolute;
	border: solid 1px #c5bcbc;
	left: 847px;
  }
  .songlistname{
  	width: 100px;
	text-align: center;
	border-bottom: #f9f0f0 solid 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
