.content{
  background: url("/pic/songer1.jpg") ;
  background-size: 1400px 830px
}
.content-color{
	width: 100%;
	height: 100%;
	background:rgb(230,230,230,0.8);
}
.mymusic-content{
  width: 80%;
  border-left: #808080 solid 2px;
  border-right: #808080 solid 2px;
  margin: auto;
  height: 820px;
  
}
.mymusic-content-left{
  width:22%;
  height:100%;
  float:left;	
  border-right: 3px #808080 solid;
}
.songerClassify{
  width: 90%;
  margin: 10px auto;
}

.mymusic-content-right{
  width:78%;
  height:100%;
  float:right;
  padding-top: 68px;
  
}
.mymusic-content-right-top{
  width: 94%;
  border: solid #abaea1 1px;
  margin: 0 auto;
}

.mymusic-content-right-center{
	width: 100%;
	height: 87%;
}
.mymusic-content-right-footer{
	width: 100%;
	float: left;
}
.title{
  font-size: 16px;
  font-weight: bolder;
  margin-top: 25px;
  text-align: center;
  color: #2a2525;
}
.title:hover{
  color: #3755bc;
}
.songer-i{
	
}
.songer-ul{
	
}
.songer-ul li{
  float: left;
  margin: 15px;
  width: 135px;
  height: 180px;
}

.songer-td{
  width: 100%;
  height: 100%;
}
.songer_img{
  width: 100%;
  height:135px;
  border-radius: 135px;
  border: solid 1px #32ad13;
  box-shadow: -2px -2px 20px #635c5c;
}

.songerName{
  width: 135px;
  height:45px;
  text-align: center;
  margin-top: 16px;
  word-wrap:break-word;
  color: #f30f0f;

}

.songerName:hover{
	color: #27d877;
}
.songer-footer{
}