  .content{
  background: url("/pic/songer1.jpg") ;
  background-size: 1400px 830px
}
.content-color{
	width: 100%;
	height: 100%;
	background:rgb(230,230,230,0.8);
}
.mymusic-content{
  width: 80%;
  border-left: #808080 solid 2px;
  border-right: #808080 solid 2px;
  margin: auto;
  height: 820px;
  
}
.mymusic-content-left{
  width:22%;
  height:100%;
  float:left;	
  border-right: 3px #808080 solid;
}
.songerClassify{
  width: 90%;
  margin: 10px auto;
}

.mymusic-content-right{
  width:78%;
  height:100%;
  float:right;
  padding-top: 6px;
  
}
.mymusic-content-right-top{
    width: 96%;
	border-bottom: solid #2a2525 2px;
	margin: 0 auto;
	text-align: center;
	color: #2a2525;
}

.mymusic-content-right-center{
	width: 100%;
	height: 87%;
	color: #2a2525;
	padding-left: 20px;
	overflow-y:auto;
}
.mymusic-content-right-footer{
	width: 100%;
	float: left;
}
.title{
  font-size: 16px;
  font-weight: bolder;
  margin-top: 25px;
  text-align: center;
  color:#2a2525;
}
.title:hover{
  color: #3755bc;
}
.songer-i{
	
}
.songer-ul{
	
}
.songer-ul li{
  float: left;
  margin: 15px;
  width: 135px;
  height: 180px;
}

.songer-td{
  width: 100%;
  height: 100%;
}
.songer_img{
  width: 100%;
  height:135px;
  border-radius: 135px;
  border: solid 1px #32ad13;
  box-shadow: -2px -2px 20px #635c5c;
}

.songerName{
  width: 135px;
  height:45px;
  text-align: center;
  margin-top: 16px;
  word-wrap:break-word;
  color: #f30f0f;

}

.songerName:hover{
	color: #27d877;
}
.songer-footer{
}
  .content{
    width: 100%;
    height:100%;
  }
  .songs-header{
    width: 100%;
    height:300px;
    background:url("/pic/bg_detail.jpg");
    padding-top: 30px;
  }
  .songs-info{
	width: 1200px;
	height: 250px;
	margin: 0 auto;
  }
  .data_cont{
	width: 890px;
	float: right;
	height: 100%;
	color: #413f3f;
	padding-top: 30px;
  }
  .data_name{
  	overflow: hidden;
	height: 50px;
	line-height: 50px;
  }
  .data__name_txt {
    float: left;
    font-size: 31px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    margin-right: 10px;
  }
  .data_songer{
  	height: 32px;
	max-width: 90%;
  }
  .data_songer i{
    float: left;
  	margin: 9px 8px 0px 0px;
  }
  .data_songer a{
   font-size:16px;
   padding-top: 6px;
   margin-top: 7px;
  }
  .data_songer a:hover{
    color: #31c27c;
	text-decoration: none;
  }
  .data_info{
  }
  .data_info_ul{
  	width: 500px;
  	margin-top: -10px;
  }
  .data_info_item{
    width: 250px;
	float: left;
	line-height: 28px;
	font-size: 15px;
  }
  .data_action{
  	float: left;
	width: 100%;
	margin-top: 12px;
  }
  .btn-default{
  	font-size: 12px;
  	margin-right: 5px;
	width: 85px;
  }
  .btn-default i{
  	margin: 0px 5px 0px 0px;
  }
  .songs-content{
  	width: 1200px;
	margin: 0 auto;
  }
  .songs-list{
  	width: 800px;
  	border-bottom: 1px solid;
  }
  .songs-list-header{
  	height: 50px;
  	padding-top: 14px;
  }
  .songs-list-number{
  	width: 7%;
	float: left;
	border: 1px solid rgb(230,230,230,0.8);
  }
  .songs-list-songname{
  	  width:58%; 
  	  float: left;
  }
  .songs-list-songer{
  	   width:25%; 
  	   float: left;
  }
  .songs-list-songtime{
  	   float: left;
  	   width: 10%;
  }
  .song-playlist{
  	width: 800px;
  	border-bottom: 1px solid;
  }
  .playList{
  	height: 30px;
  	padding-top: 10px;
  }
  .playList li a{
  	color: #2a2525;
  }
  .playList-number{
  	width: 5%;
	float: left;
	padding-left: 16px;
  }
  .playList-sign{
  	 float: right;
  }
  .playList-sign:hover{
  	color: #25c315;
  }
  .sign{
  	font-size: 16px;
  	margin: 0 13px;
  }
  .playList-songname{
  	  width:60%; 
  	  float: left;
  }
  .playList-songname a{
  	
  }
  .playList-songname a:hover{
  	  color: #25c315;
  }
  .playList-songer{
  	   width:25%; 
  	   float: left;
  }
  .playList-songer a:hover{
  	   color: #25c315;
  }
  .playList-songtime{
  	   float: left;
  	   width: 10%;
  }
  .songs-comments{
  	width: 1200px;
  	margin: 51px auto;
  }
  .send-comments{
  	width: 800px;
  }
  .show-comments{
  	width: 800px;
  }
  .comment-title{
  	font-weight: 400;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 33px;
  }
  .comment-data{
  	margin: 35px auto;
  }
  .userPic{
  	width:35px;
  	height:35px;
  	border-radius: 20px;
  	float: left;
  }
  .username{
  	padding-left: 51px;
  }
   .username:hover{
  	color:#1fe359;
  }
  .comment-text{
    margin-left: 50px;
    word-wrap:break-word;  
    word-break:break-all;  
    overflow: hidden;
  }
  .comment-time{
  	 margin-left: 50px;
  }
  
  .albuminfo{
  	width:400px;
  }